body{
    background-color: aquamarine;
}


.banner {
    color: rgb(47, 0, 255);
    background-color: pink;
    border: red 1px;    
    height: 300px;
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
}

.results {
    margin-top: 20px;
}

.rock\.music {
    text-align: center;
    font-size: 80px;
    border: solid red 2px;
    padding: 10px;
    height:300px;
    background-color: white;
}



.cities p{
    padding: 10px;
    background-color: white;
    text-align: center;
    height: 50px;
    border: solid red 2px;
}

.search {
    margin-top: 70px;
}
 


.container\.rock-whatever {
    text-align: center;
    color: pink;
}

.row2{
   float: right;
   height: 50px;
   width: 575px;
}
.panel-title{
    background-color: yellow;
    height: 30px;
    text-align: center;
}

.results{
    color: red;
    float: right;
}